body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background-color: #fff;

  width: 100%;
}
.container {
  max-width: 1110px;
  margin: 0px auto;
}

.header {
  color: #fff;
  background: linear-gradient(
      to right,
      rgba(213, 32, 71, 0.8),
      rgba(238, 61, 27, 0.8)
    ),
    url(../content/header_bg.png);
  background-position: center;
  background-size: cover;
  padding-bottom: 187px;
}

.nav {
  text-transform: uppercase;
  display: inline-block;
  padding: 45px 0;
  line-height: 50px;
  font-size: 18px;
  width: 100%;
  align-items: center;
  font-weight: 700;
}
.logo_name {
  width: fit-content;
  float: left;
  margin-left: 15px;
}

.navList {
  font-weight: 500;
  font-size: 14px;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navList > li {
  display: inline-block;
  margin-right: 15px;
}
.navList > li > a {
  color: inherit;
  text-decoration: none;
}

.headerLogo {
  height: 400px;
}

.header_h1 {
  font-size: 72px;
  margin-top: 120px;
  margin-bottom: 39px;
  text-transform: uppercase;
  text-align: center;
}

.header_h4 {
  max-width: 540px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}
.header_centered {
  align-content: center;
}

.header_btn {
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  margin: 39px auto;
  height: 50px;
  width: 160px;
  color: #ed4c5c;
  font-size: 14px;
  background-color: #fff;
  border: none;
  border-radius: 6px;
}

.features {
  background-color: #fafafa;
  padding-bottom: 200px;
}

.content_h3 {
  margin: 0;
  padding-top: 63px;
  text-align: center;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
}

.featuresCardsOuter {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  margin: 0 15px;
  padding-top: 63px;
}

.feature_card {
  width: 350px;
  border-radius: 8px;
  position: relative;
}

.feature_card > img {
  object-fit: cover;
  max-width: 100%;
}

.feature_card_inner {
  position: absolute;
  bottom: -105px;
  background-color: #fff;
  width: 90%;
  height: 198px;
  left: 5%;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-items: center;
}

.feature_card_inner > h4 {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  margin: 33px auto 0 auto;
  max-width: 230px;
  padding-right: 10px;
  padding-left: 10px;
}

.feature_card_inner > p {
  margin: 20px auto 0 auto;
  max-width: 230px;
  height: 57px;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  padding-right: 10px;
  padding-left: 10px;
}

.feature_card_inner > a {
  text-decoration: none;
  display: block;
  margin: 5px auto 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #d52047;
  width: fit-content;
}

.technology {
  background-color: #fff;
}

.technologyCardsOuter {
  display: flex;
  align-items: center;
  gap: 10px 30px;
  margin: 0 15px;
  padding-top: 52px;
  padding-bottom: 80px;
}

.technology_card {
  width: 255px;
  height: 256px;
  border-radius: 8px;
  position: relative;
}

.technology_card > h1 {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  color: rgba(16, 16, 16, 0.08);
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.technology_card > h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
  padding-right: 10px;
  padding-left: 10px;
}

.technology_card > p {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

#technology1 {
  background: url(../content/technology-1.png) no-repeat;
  background-position: 50% 35%;
}
#technology2 {
  background: url(../content/technology-2.png) no-repeat;
  background-position: 50% 35%;
}
#technology3 {
  background: url(../content/technology-3.png) no-repeat;
  background-position: 50% 35%;
}
#technology4 {
  background: url(../content/technology-4.png) no-repeat;
  background-position: 50% 35%;
}

.stayfocused {
  width: 100%;
  height: 500px;
  background-color: #ed4c5c;
}
