$var1: #ffffff;
$var2: #ed4c5c;
$var3: #fafafa;
$var4: #101010;
$var5: #d52047;
$var6: #000000;
$var7: #000000;
$var8: #333333;
$var9: #ffffff;

body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background-color: $var1;
  width: 100%;
}
.container {
  max-width: 1110px;
  margin: 0px auto;
}
.header {
  color: $var1;
  background: linear-gradient(
      to right,
      rgba(213, 32, 71, 0.8),
      rgba(238, 61, 27, 0.8)
    ),
    url('../content/header_bg.png');
  background-position: center;
  background-size: cover;
  padding-bottom: 187px;
  &_h1 {
    font-size: 72px;
    margin-top: 120px;
    margin-bottom: 39px;
    text-transform: uppercase;
    text-align: center;
  }
  &_h4 {
    max-width: 540px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
  }
  &_centered {
    align-content: center;
  }
  &_btn {
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    margin: 39px auto;
    height: 50px;
    width: 160px;
    color: $var2;
    font-size: 14px;
    background-color: $var1;
    border: none;
    border-radius: 6px;
  }
  &_h1 {
    font-size: 58px;
  }
  &_h4 {
    font-size: 22px;
  }
}
.nav {
  text-transform: uppercase;
  display: inline-block;
  padding: 45px 0;
  line-height: 50px;
  font-size: 18px;
  width: 100%;
  align-items: center;
  font-weight: 700;
}
.logo_name {
  width: fit-content;
  float: left;
  margin-left: 15px;
}
.navList {
  font-weight: 500;
  font-size: 14px;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    display: inline-block;
    margin-right: 15px;
    > a {
      color: inherit;
      text-decoration: none;
    }
  }
}
.menuOpenerBtn {
  display: none;
  cursor: pointer;
}
.menuForPhones {
  display: none;
}
.menuForPhonesVisible {
  z-index: 9999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $var1;
  width: 100vw;
  height: fit-content;
  > ul > li > a {
    color: black;
    text-decoration: none;
    &:hover {
      transition: 0.3s;
      color: rgb(161, 151, 151);
      text-decoration: none;
    }
  }
}
.headerLogo {
  height: 400px;
}
.features {
  background-color: $var3;
  padding-bottom: 200px;
}
.content_h3 {
  margin: 0;
  padding-top: 63px;
  text-align: center;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
}
.featuresCardsOuter {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  margin: 0 15px;
  padding-top: 63px;
}
.feature_card {
  max-width: 350px;
  border-radius: 8px;
  position: relative;
  > img {
    object-fit: cover;
    max-width: 100%;
  }
  &_inner {
    position: absolute;
    bottom: -105px;
    background-color: $var1;
    width: 90%;
    height: 198px;
    left: 5%;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
    > h4 {
      text-align: center;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: $var4;
      margin: 33px auto 0 auto;
      max-width: 230px;
      padding-right: 10px;
      padding-left: 10px;
    }
    > p {
      margin: 20px auto 0 auto;
      max-width: 230px;
      height: 57px;
      text-align: center;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      color: $var4;
      padding-right: 10px;
      padding-left: 10px;
    }
    > a {
      text-decoration: none;
      display: block;
      margin: 5px auto 0 auto;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 150%;
      text-align: center;
      color: $var5;
      width: fit-content;
    }
  }
  &_inner {
    bottom: 20px;
  }
}
.technology {
  background-color: $var1;
  &_card {
    width: 255px;
    height: 256px;
    border-radius: 8px;
    position: relative;
    > h1 {
      text-align: center;
      font-weight: bold;
      font-size: 100px;
      line-height: 120px;
      text-align: center;
      color: rgba(16, 16, 16, 0.08);
      margin: 0;
      padding-right: 10px;
      padding-left: 10px;
    }
    > h2 {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: $var4;
      padding-right: 10px;
      padding-left: 10px;
    }
    > p {
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: $var6;
      padding-right: 10px;
      padding-left: 10px;
      margin: 0 auto;
    }
  }
}
.technologyCardsOuter {
  display: flex;
  align-items: center;
  gap: 10px 30px;
  margin: 0 15px;
  padding-top: 52px;
  padding-bottom: 80px;
}
#technology1 {
  background: url('../content/technology-1.png') no-repeat;
  background-position: 50% 35%;
}
#technology2 {
  background: url('../content/technology-2.png') no-repeat;
  background-position: 50% 35%;
}
#technology3 {
  background: url('../content/technology-3.png') no-repeat;
  background-position: 50% 35%;
}
#technology4 {
  background: url('../content/technology-4.png') no-repeat;
  background-position: 50% 35%;
}
.stayfocused {
  background-color: $var2;
  padding: 116px 0;
  color: $var1;
  &_icons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 40px;
    > a {
      width: 32px;
      height: 32px;
      align-items: center;
      position: relative;
      color: inherit;
      > img {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}
.stayfocusedInner {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}
.stayfocusedCard {
  padding: 0 10px;
  max-width: 485px;
  height: auto;
  position: relative;
  > h5 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin: 30px 0 40px;
  }
  > p {
    max-width: 445px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
  }
}
.stayfocusedCardForPhotos {
  max-width: 80%;
  padding: 0 44px;
  position: relative;
}
#stay-focused-1 {
  z-index: 1;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  height: 80%;
}
#stay-focused-2 {
  position: relative;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 9998;
}
#stay-focused-3 {
  z-index: 1;
  position: absolute;
  right: 10px;
  height: 80%;
  top: 50%;
  transform: translate(0, -50%);
}
.contact {
  padding-top: 117px;
  padding-bottom: 78px;
  background-color: $var1;
  padding: 116px 0;
  color: $var7;
}
.contactInner {
  align-items: flex-start;
  gap: 80px;
}
.contactText {
  padding: 0 10px;
  max-width: 100%;
  > h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-top: 0;
    margin: 0 0 50px 0;
  }
  > p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: $var6;
  }
}
.contactForm {
  padding: 0 10px;
  max-width: 100%;
  input,
  select {
    display: inline-block;
    line-height: 60px;
    height: 60px;
    margin-bottom: 24px;
    padding-left: 31px;
    padding-right: 10px;
    border: 1px solid $var8;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px;
    color: $var7;
  }
  select {
    appearance: none;
    background: url('../content/ChevronDown\(E70D\).svg') no-repeat right;
    background-position-x: calc(100% - 23px);
  }
}
.contactFormNamesOuter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  width: 100%;
  > * {
    width: 90%;
  }
}
#contactFormPhone {
  width: 100%;
}
#contactFormSelect {
  width: 100%;
}
#formSubmitBtn {
  background-color: $var2;
  width: 160px;
  height: 50px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $var1;
  border: 1.5px solid $var2;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}

input[type='text']::-webkit-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
input[type='text']::-moz-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
input[type='number']::-webkit-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
input[type='number']::-moz-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
select::-webkit-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
select::-moz-placeholder {
  color: rgba(19, 39, 67, 0.5);
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .stayfocusedInner {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .menuOpenerBtn {
    display: block;
    position: absolute;
    right: 40px;
    top: 50px;
    float: right;
    background-color: transparent;
    border: none;
  }
  .navList {
    display: none;
  }

  .header_h1 {
    font-size: 58px;
  }
  .header_h4 {
    font-size: 22px;
  }
  .technologyCardsOuter {
    flex-direction: column;
  }
  .featuresCardsOuter {
    flex-direction: column;
  }
  .feature_card {
    height: 380px;
  }
  .feature_card_inner {
    bottom: 20px;
  }
  .features {
    padding-bottom: 80px;
  }
}

@media (max-width: 480px) {
  .header_h1 {
    font-size: 46px;
  }
}

@media (max-width: 320px) {
  .header_h1 {
    font-size: 32px;
  }
}
